body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #E5E5E5;    
}

div {
    scrollbar-width: none; 
}

.item-counter {
    display: none;
}

.lock {
    overflow: hidden;
}

.section-title {
    font-family: 'Righteous', cursive;
    font-size: 26px;
}

.top-bar {
    background-color: #CF2B2B;
    color: aliceblue;
    padding-left: 21px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  

    position: fixed;
    top: 0;
    left: 0;
    height: 92px;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;      
}

.top-bar h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;
    padding: 0;
}

.top-bar h2 {
    font-size: 18px;
}

.content {       
    overflow-y: scroll;  
    height: calc(100vh - (2*92px));
    margin-top: 92px;
    margin-bottom: 92px;
    padding-top: 27px;
    padding-left: 19px;  
}

.options {
    display: flex;
    width: 100%;
    overflow: scroll;
    margin-top: 17px;
    margin-bottom: 17px;
}

.option {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: none;     

    width: 172px;
    height: 216px;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 18px 14px;       
       
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    text-align: start;
    position: relative;
}

.selectedOption {    
    border: 5px solid;
    padding: 13px 8px;
    border-color: #32B72F;
}

.selectedOption .item-counter {
    display: initial;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 15px;    
}

img {
    width: 100%;
    height: 87px;
    border-radius: 4px;
    object-fit: cover;
}

.product-name {
    font-weight: 700;
    font-size: 16px;
}

.product-description {
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
}

.product-price {
    font-weight: 400;
    font-size: 16px;
}

.bottom-bar {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: fixed;
    bottom: 0;
    left: 0;
    height: 92px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.order-buttom {
    background-color: #CBCBCB;
    border-radius: 50px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    border: 0;

    width: 364px;
    height: 61px;
}

.enabled {
    background-color: #32B72F;
}

.confirmation-screen {
    background: rgba(255, 255, 255, 0.9);

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-box {
    background-color: #50D074;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-size: 22px;display: flex;
    color:  #FFFFFF;

    width: 377px;
    height: 353px;    
    padding: 25px 25px 0;    

    flex-direction: column;
    justify-content: space-between;
}

.confirmation-box h1 {
    margin: 0 auto;
    font-weight: 700;
}

.order {
    background: #FFFFFF;
    font-size: 22px;
    font-weight: 700;    
    border-radius: 100px;
    color: #50D074;
    border: none;

    width: 329px;
    height: 52px;
    margin: 0 auto;
}

.cancel {
    background: inherit;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    border: none;

    width: 329px;
    height: 52px;
    margin: 0 auto;
}

.item {
    display: flex;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.disabled {
    display: none;
}

* {
    box-sizing: border-box;
}